{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    <h2>Последние Заметки</h2>
    {{if .}}
      <h1>{{.Id}}</h1>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}
{{end}}